# Archivos auxiliares de LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
indent.log

# Archivos temporales
*.tmp
*.bak
*~

# Visual Studio / C++
.vs/
Debug/
Release/
/x64/
/x86/
*.user
*.suo
*.obj
*.pdb
*.ilk
*.idb
*.recipe
*.tlog/
*.exe
